<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Penetration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-top: 50px">
        <div class="col-sm-10 centered">
          <div><h1>Penetration</h1></div>
            <div class="center-block">{{content.text|safe}}</div>
          <button id="go" class="btn btn-default">GO</button>
        </div>
      </div>
    </div>
    <script>
    $("#go").click(function(event) {
      window.location = "{{content.link}}";
    });
    </script>
  </body>
</html>