<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>3ch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
  </head>
  <body>
    <div class="container">
      <h1>Sign In</h1>
      {% if content.error %}
        <div class="alert alert-danger" role="alert">
          {{ content.error }}
        </div>
      {% endif %}
      <form method="get" action="signin">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" >
        </div>
        <div class="form-group">
          <label for="passwd">Password</label>
          <input type="password" class="form-control" id="passwd" name="passwd" >
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
    </div>
  </body>
</html>
